.button {
	 padding: 1rem 2rem;

  display: inline-flex;
  align-items: center;
  border-radius: 1rem;

  background-color: red;

  text-align: center;

  transition: background-color 0.2s ease;
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #a71515;
  }
}