@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    height: 100%;

    font-style: normal;
    font-weight: normal;
    line-height: 1.2;

    -webkit-animation: bugfix infinite 1s;
}
html {
    font-family: 'Martel Sans';
    font-size: 0.5208335vw;
}
body {
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: #000000;
    
    user-select: none;
}

input,
textarea {
    margin: 0;
    padding: 0;

    border: none;

    line-height: inherit;

    background-color: transparent;
    color: inherit;

    -webkit-animation: bugfix infinite 1s;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    margin: 0;

    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}

button,
input,
a,
textarea {
    font: inherit;

    outline: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:active {
        outline: none;
    }
}

a {
    color: unset;
}
a,
a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    display: block;

    width: 100%;
    height: auto;

    object-fit: contain;
}

button {
    padding: 0;

    border: none;

    font: inherit;
    text-align: inherit;

    color: inherit;
    background-color: transparent;
}

ul,
ul li {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;

    font: inherit;
}

.section {
    margin-bottom: 5rem;
	padding-top: 15rem;
	
	display: flex;
	flex-direction: column;
	row-gap: 2.5rem;
}


@media (max-width: 48em) {
    html {
        font-size: 5px;
        font-size: 1.5625vw;
        font-size: calc((100 / 375) * 5vw);

        -webkit-text-size-adjust: none;
    }
    body {
        font-size: 4rem;

        -webkit-text-size-adjust: none;
    }
}
@media (min-width: 1920px) {
    html {
        font-size: 10px;
    }
}