.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 100dvh;
}

.title {
  max-width: 101rem;

  font-size: 10rem;
  font-weight: 700;
  text-align: center;
	
	animation: fade 3s ease infinite;
}

@keyframes fade {
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}