.wrapper {
  margin: 0 auto;
	  padding: 0 1.6rem;
	
	display: flex;
	flex-direction: column;
	min-height: 100%;
	  width: 170rem;
}

.body {
	flex: 1 1 auto;
}

@media (max-width: 48em) {
	.wrapper {
		
        padding: 0 3.2rem;

        width: 100%;
	}
}